<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="org.postgresql.Driver"/>
    <property name="url" value="jdbc:postgresql://localhost:5432/toby-spring"/>
    <property name="username" value="follower"/>
    <property name="password" value="hello"/>
  </bean>
  <bean id="userDao" class="dao.UserDaoJdbc">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="mailSender" class="service.mock.DummyMailSender" />
  <bean id="userLevelUpgradePolicy" class="service.GeneralUserLevelUpgradePolicy">
    <property name="userDao" ref="userDao"/>
    <property name="mailSender" ref="mailSender"/>
  </bean>
  <bean id="testUserLevelUpgradePolicy" class="service.UserServiceTest$TestUserLevelUpgradePolicy" parent="userLevelUpgradePolicy" />
  <bean id="transactionAdvice" class="proxy.spring.advisor.TransactionAdvice">
    <property name="transactionManager" ref="transactionManager"/>
  </bean>
  <bean id="userService" class="service.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
    <property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy"/>
  </bean>
  <bean id="transactionTestUserService" class="service.UserServiceTest$TestUserServiceImpl" parent="userService">
    <property name="userLevelUpgradePolicy" ref="testUserLevelUpgradePolicy"/>
  </bean>
  <aop:config>
    <aop:advisor advice-ref="transactionAdvice" pointcut="execution(* *..*ServiceImpl.upgrade*(..))" />
  </aop:config>
</beans>