<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="org.postgresql.Driver"/>
    <property name="url" value="jdbc:postgresql://localhost:5432/toby-spring"/>
    <property name="username" value="follower"/>
    <property name="password" value="hello"/>
  </bean>
  <bean id="userDao" class="dao.UserDaoJdbc">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="mailSender" class="service.mock.DummyMailSender" />
  <bean id="userLevelUpgradePolicy" class="service.GeneralUserLevelUpgradePolicy">
    <property name="userDao" ref="userDao"/>
    <property name="mailSender" ref="mailSender"/>
  </bean>
  <bean id="transactionAdvice" class="proxy.TransactionAdvice">
    <property name="transactionManager" ref="transactionManager"/>
  </bean>
  <bean id="transactionPointCut" class="org.springframework.aop.support.NameMatchMethodPointcut">
    <property name="mappedName" value="upgrade*"/>
  </bean>
  <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
    <property name="pointcut" ref="transactionPointCut"/>
    <property name="advice" ref="transactionAdvice"/>
  </bean>
  <!-- 다시 무엇을 해야하는가? 프록시 팩토리 빈에게 타겟을 가르쳐 줘야 한다. 그리고 분리된 Advice 또는 Advisor(Advice + PointCut) 정보를 전달해 주기만 하면 된다. -->
  <bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target" ref="userServiceImpl"/>
    <property name="interceptorNames">
      <list>
        <value>transactionAdvisor</value>
      </list>
    </property>
  </bean>
  <bean id="userServiceImpl" class="service.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
    <property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy"/>
  </bean>
</beans>